.env
./bin
./lib
./include
./share
./pyvenv.cfg
./pip-selfcheck.json
./pip-wheel-metadata
./pip-wheel-metadata
lib64
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata
lib64
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata