.env
bin
lib
include
share
./venv
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata
lib64
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata
lib64
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata
include
share
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata
lib64
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata
lib64
pyvenv.cfg
pip-selfcheck.json
pip-wheel-metadata
pip-wheel-metadata